@page "/"
@inject HttpClient Http
@using RLI_JOIN_BLAZOR_EXAMPLE.Shared

@if (db == null)
{
    <p>Lade Daten…</p>
}
else
{
    <div class="flex-center">
        <div class="flex-column-center">
            <GenericTable Table="db.Tables[0]" />
        </div>
        <div class="flex-column-center">
            <GenericTable Table="db.Tables[1]" />
        </div>
    </div>
    
  
    <div class="flex-center">
        <div class="flex-column-center size-limit" >
            <div class="box">
                <img src="img/left-join.png" />
                <button @onclick="() => Join(JoinType.Left)">LEFT JOIN</button>
            </div>
        </div>
        <div class="flex-column-center size-limit">
            <div class="box">
                <img src="img/right-join.png" />
                <button @onclick="() => Join(JoinType.Right)">RIGHT JOIN</button>
            </div>
        </div>
        <div class="flex-column-center size-limit">
            <div class="box">
                <img src="img/inner-join.png" />
                <button @onclick="() => Join(JoinType.Inner)">INNER JOIN</button>
            </div>
        </div>
    </div>

    @if (resultTable != null)
    {
        <div class="flex-center">
            <GenericTable Table="resultTable" />
        </div>
    }
    
}

@code {
    Database? db;
    Table? resultTable;

    protected override async Task OnInitializedAsync()
    {
        db = await Http.GetFromJsonAsync<Database>("data/tableData.json");
    }

    
    private void Join(JoinType joinType)
    {
        if (db != null)
        {
            resultTable = Database.Join(db.Tables[0], db.Tables[1], joinType);
        }
    }

}