table {
    border-collapse: collapse;
    width: 100%;
}

th {
    color: white;
    padding: 6px;
    text-align: left;
}

td {
    border: 1px solid #ddd;
    padding: 6px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #cce5ff;
}
