@using System.Reflection

@if (Table == null)
{
    <p>Keine Daten vorhanden.</p>
}
else
{
    @if (!string.IsNullOrEmpty(Table.Name))
    {
        <p><em>@Table.Name</em></p>
    }
    <table border="1">
        <thead>
            <tr>
                @foreach (var pair in Table.ColumnNames.Zip(Table.Colors))
                {
                    <th style="background-color:@pair.Second">
                        @pair.First
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (List<object> row in Table.Rows ?? Enumerable.Empty<object>())
            {
                <tr>
                    @foreach (var cell in row)
                    {
                        <td>@cell</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public Table? Table { get; set; }
}